@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

html {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 38px;
    font-weight: 700;
}

h2 {
    font-size: 22px;
    font-weight: 500;
}

.profile-pic {
    box-shadow: 0 4px 6px 2px lightgrey;
    border-radius: 50%;
}

.title {
    justify-content: center;
    text-align: center;
    padding: 100px;
}

.name {
    padding: 0.3em;
}

.job-title {
    padding: 0.3em;
}